#navBar-container{
    /* border: 1px solid red; */
    background: #000000;
    color: white;
}
#navBar-container a{
    color: aliceblue;
  font-family: sans-serif;

}
#navBar-container button{
    border: 1px solid white;
    background: white;
}
.navListdiv ul li{
    transition: 0.3s;
    margin: 0% clamp(0.3rem,1rem,2rem);
    
}
.navListdiv ul li a{
    font-family: sans-serif;
}
.navListdiv ul li:hover{
    background: rgb(70, 70, 70);
}
.dropdown-menu{
    background: rgba(0, 0, 0);
}
.dropdown-item:hover{
    background: rgb(70, 70, 70);
}