#header-main-container{
  /* border: 1px solid red;   */
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.5) ),url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position:center 30%;
  opacity: 1;
  position: relative;
  padding: clamp(1rem,10vh + 1rem, 6rem) 0 0 0;
}

#header-flex{
  display: flex;
  /* border: 1px solid blue; */
  min-height: 100%;
  justify-content: space-around;
  padding: clamp(1rem,1vw + 1rem,4rem);
}
@media screen and (max-width:780px) {
  #header-flex{
    display: flex;
    /* border: 1px solid blue; */
    min-height: 100%;
    justify-content: space-around;
    flex-direction: column;
  }
}
#headinginSubHeading{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(0.2rem,1.0vw + 0rem,4rem);
}
#headinginSubHeading div:nth-child(1){
  /* border: 1px solid red; */
  font-size: clamp(0.4rem, 1.0vw + 1rem, 8rem);;
  color: #ffff;
}
#headinginSubHeading div:nth-child(2){
  /* border: 1px solid green; */
  font-size: clamp(2.5rem, 6.5vw + 1rem, 10rem);;
  -webkit-text-stroke: 1.5px white;
  font-family: sans-serif;
  color: transparent;
}
#headinginSubHeading div:nth-child(3){
  /* border: 1px solid red; */
  font-size: clamp(2.5rem, 6.5vw + 1rem, 10rem); 
  font-family: sans-serif;
  color: white;
}


#loginForm-Div{
  /* border: 1px solid red; */
  width: 18rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginForm-Div form{
  width: 100%;
  /* border: 1px solid red; */
}
#loginForm-Div form input{
  width: 100%;
  margin: clamp(2rem,3vh + 0.5rem,7rem) 0;
  background: transparent;
  color: #ffff;
  border-style: none;
  border-bottom: 1px solid #ffff;
}
::placeholder{
  color: #e5e5e5;
  /* border: 1px solid red; */
}
#loginForm-Div form input:focus{
  width: 100%;
  margin: clamp(2rem,3vh + 0.5rem,7rem) 0;
  background: transparent;
  color: #ffff;
  border-style: none;
  border-bottom: 1px solid #ffff;
}
#loginForm-Div form input[type="submit"]{
  /* border: 1px solid #ffff; */
  background: #FF033E;
  border-style: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  

}
#loginForm  input[type="submit"]:hover{
  background-color: rgba(255,255,255,0.47);

}
.social{
  /* border: 1px solid red; */
  margin-top: clamp(0.2rem,0.7rem,2rem);
  display: flex;
  justify-content: center;
}
.social div{
  /* background: red; */
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgb(32, 117, 254,0.6);
  color: #eaf0fb;
  text-align: center;
  margin: clamp(0.2rem,0.5rem,1rem);
  font-size: clamp(0.5rem,1rem,2rem);
  font-weight: 600;
  }
  .social div:hover{
  background-color: rgba(255,255,255,0.47);
  }